/* font-family: 'Open Sans', sans-serif; */

/* variables */
:root {
  --primary-text-color: #202020;
  --secondary-text-color: #8e8e8e;
  --primary-white-color: #fff;
  --accent-color: #1396ec;
  --btn-main-color: #21a4f0;
  --btn-secondary-color: #ed5b4a;
  --bg-grey: #eeeeee;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* basic styles */
html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary-white-color);
}

* {
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
} */

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.form-control:focus {
  box-shadow: none;
}

/* ------------------------------------------------------------------------- */
/* components */

.btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 6px 20px;
  background: var(--btn-main-color);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: var(--primary-white-color);
  transition: all 350ms var(--cubic-bezier);
}
.btn-main:hover {
  background: var(--accent-color);
}

.btn-secondary {
  position: relative;
  width: 100%;
  padding: 7px 12px;
  font-weight: 700;
  color: var(--primary-white-color);
  text-transform: uppercase;
  border: none;
  background-color: var(--btn-secondary-color);
  border-radius: 6px;
  overflow: hidden;
  transition: all 350ms var(--cubic-bezier);
  z-index: 1;
}

.btn-secondary::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--accent-color);
  transition: left 350ms var(--cubic-bezier);
}
.btn-secondary:hover::before {
  left: 0;
}

.btn-select {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-white-color);
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-select:hover svg {
  color: var(--btn-secondary-color);
}

.btn-remove {
  padding: 6px 10px;
  background: #ee3131;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: var(--primary-white-color);
  transition: all 350ms var(--cubic-bezier);
}
.btn-remove:hover {
  background: #d80606;
}

.btn-details {
  background: none;
  font-weight: 600;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  transition: all 350ms var(--cubic-bezier);
}

.btn-details:hover,
.btn-details:focus, .btn-details:active {
  border: 1px solid var(--btn-secondary-color);
  color: var(--btn-secondary-color);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    173deg,
    rgba(32, 220, 129, 0.2) 0%,
    rgba(84, 177, 227, 0.2) 50%,
    rgba(7, 43, 220, 0.2) 90%
  );
}

/* containers & sections */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .page-container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-container {
    max-width: 1200px;
  }
  .page-listing .page-container {
    max-width: 1200px;
  }
}

.main-bg-white {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.4);
}

.title-word {
  font-family: "Parisienne", cursive;
  font-size: 50px;
  letter-spacing: 0.06em;
  color: rgb(96, 254, 201);
}

/* ------------------------------------------------------------------------- */
/* header */

.page-header {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: -1px 4px 4px -3px rgba(25, 25, 25, 0.25);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  width: 100%;
  height: 100%;
}

.logo {
  max-width: 150px;
  min-width: 150px;
}

.lang-img {
  max-width: 16px;
}

.site-nav {
  display: flex;
  gap: 30px;
}

.site-nav__item > a {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text-color);
  transition: border 350ms var(--cubic-bezier);
}

.site-nav__item a::after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1.5em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 350ms, transform 350ms;
  transform: scale(0, 1);
}

.site-nav__item a:hover,
.site-nav__item a:focus {
  color: var(--accent-color);
}

.site-nav__item a:hover::after,
.site-nav__item a:focus::after {
  opacity: 1;
  transform: scale(1);
}

.site-nav__item:last-child {
  padding-right: 15px;
  border-right: 2px solid #b2b2b2;
}

/* mobile menu */
.site-nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.site-nav-mobile__item:last-child {
  padding-bottom: 20px;
  border-bottom: 2px solid #b2b2b2;
}

.site-nav-mobile__item a {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text-color);
  transition: border 350ms var(--cubic-bezier);
}
.site-nav-mobile__item a:hover,
.site-nav-mobile__item a:focus {
  color: var(--accent-color);
}

.site-nav-mobile__item a::after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1.5em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 350ms, transform 350ms;
  transform: scale(0, 1);
}

.site-nav-mobile a:hover::after,
.site-nav-mobile a:focus::after {
  opacity: 1;
  transform: scale(1);
}

/* ----------------------------------- */
.auth-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.auth-nav__item a {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text-color);
  transition: border 350ms var(--cubic-bezier);
}

.auth-nav__item a::after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1.5em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 350ms, transform 350ms;
  transform: scale(0, 1);
}

.auth-nav__item a:hover,
.auth-nav__item a:focus {
  color: var(--accent-color);
}

.auth-nav__item a:hover::after,
.auth-nav__item a:focus::after {
  opacity: 1;
  transform: scale(1);
}

.auth-nav__item:first-child {
  padding-left: 15px;
}

.auth-nav-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
}

/* ------------------------------------------------------------------------- */
/* hero */

section.page-hero {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 80vh;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../img/banner_origin.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-hero h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
.page-hero__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.page-hero__form {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 0px 40px;
}

.page-hero label {
  font-size: 12px;
  color: var(--primary-white-color);
}
.text-small {
  font-size: 12px;
  color: white;
}

.page-hero ::placeholder {
  font-size: 12px;
  font-weight: 600;
  color: #a3a3a3;
}

/* search panel */

.page-hero__form .nav.nav-tabs {
  border-bottom: none;
}
.page-hero__form .nav-tabs .nav-link {
  margin: 0px;
  font-weight: 700;
  color: var(--btn-secondary-color);
  background: white;
  border-radius: 8px;
}
.page-hero__form .nav-tabs .nav-item .nav-link.flight {
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  border: none;
  padding: 8px;
}

.page-hero__form .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--primary-white-color);
  background-color: var(--btn-secondary-color);
  border-radius: 8px;
  border-color: transparent;
}
.page-hero__form .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: var(--btn-secondary-color);
  border-radius: 8px;
}

.page-hero__form .icon-20 {
  width: 16px;
  height: 16px;
}
.page-hero__form .nav-tabs .nav-item .active span:after {
  content: "";
  display: block;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid var(--btn-secondary-color);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  position: absolute;
}

/* chekmarks */
.check-wrap {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #343534;
  font-size: 0.75rem;
}
.check-wrap:hover input ~ .checkmark {
  background-color: var(--btn-secondary-color);
}
.check-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.check-wrap input:checked ~ .checkmark {
  background-color: var(--btn-secondary-color);
  border: 0px solid var(--btn-secondary-color);
}
.check-wrap input:checked ~ .checkmark:after {
  display: block;
}
.check-wrap .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 4px;
  border: 1px solid #9f9f9f;
}
.check-wrap .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid var(--primary-white-color);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
/* days / stars */

.dropdown.days .dropdown-menu {
  min-width: 1rem;
  padding: 0px 8px;
  border-radius: 8px;
}
.dropdown.days .dropdown-menu .dropdown-item {
  font-size: 1rem;
  cursor: pointer;
}

/* travellers */

.dropdown.travellers .dropdown-menu {
  min-width: 300px;
  width: 100%;
  padding: 0px 0.5rem;
  border-radius: 0.5rem;
}
.dropdown .dropdown-menu .drop-rest li {
  border-bottom: 1px solid #f5faff;
  display: flex;
  padding: 5px 0 5px 0;
}
.dropdown .dropdown-menu .drop-rest li span {
  font-size: 14px;
  font-weight: 500;
}
.dropdown .dropdown-menu .drop-rest li .br {
  display: block;
  padding-top: 0px;
}
.dropdown .dropdown-menu .drop-rest li .btn {
  background-color: #002d5b;
  color: #ffffff;
  border: 0;
}
.dropdown .dropdown-menu .plus-minus-input {
  align-items: center;
  width: 45%;
}
@media screen and (max-width: 575px) {
  .dropdown .dropdown-menu .plus-minus-input {
    width: 50%;
  }
}
.dropdown .dropdown-menu .plus-minus-input .input-group-button button {
  background-color: var(--btn-main-color);
  border: none;
  color: #ffffff;
  border-radius: 4px;
}

.dropdown .dropdown-menu .plus-minus-input .input-group-button button:hover {
  background-color: #f15d0e;
}

.dropdown .dropdown-menu .plus-minus-input .input-group-field {
  text-align: center;
  width: 50%;
  background: #f5faff;
  border: 0;
}

.dropdown
  .dropdown-menu
  .plus-minus-input
  .input-group-field::-webkit-inner-spin-button,
.dropdown
  .dropdown-menu
  .plus-minus-input
  .input-group-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.form-group {
  position: relative;
}

/* select styles */
.select {
  --bs-form-select-bg-img: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"%3e%3cpathfill="none"stroke="%23343a40"stroke-linecap="round"stroke-linejoin="round"stroke-width="2"d="m2 5 6 6 6-6"/%3e%3c/svg%3e
  );
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--primary-white-color);
  background: transparent;
  border: none;
}
.select option {
  color: var(--primary-text-color);
}

/* add room dropdown styles */
.dropdown-room-btn {
  background-color: none;
  color: gray;
}

.btn-add-room {
  background-color: var(--btn-main-color);
  padding: 6px;
  margin: 8px 0px;
  transition: all 350ms var(--cubic-bezier);
  color: white;

  border: none;
  border-radius: 4px;
  width: 100%;
}

.btn-add-room:hover {
  color: var(--primary-white-color);
  background-color: #f15d0e;
}

.room-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid gray;
}
.room-top p {
  display: flex;
  align-items: center;
  margin: 0px;
  display: inline;
}

.btn-remove-room {
  width: 30px;
  height: 30px;
  padding: 6px;
  margin: 8px 0px;
  background-color: #f15d0e;
  color: white;
  border-radius: 4px;
  transition: all 350ms var(--cubic-bezier);
}
.adult {
  padding: 0px 8px;
}

.child {
  padding: 0px 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.age {
  max-width: 121px;
  width: 100%;
  border: 1px solid #002d5b;
  border-radius: 4px;
  margin: 8px 0px 8px 8px;
}

.span-count {
  margin: 0 6px;
  padding: 0;
  width: 40px;
  height: 30px;
  text-align: center;
  background-color: #f5faff;
}

.counter-add-item .span-count {
  height: auto;
}
.counter-add-item {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.counter-add-item a {
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #fff;
  text-decoration: none;
  background: var(--btn-main-color);
}

.counter-add-item a:hover {
  color: var(--primary-white-color);
  background-color: #f15d0e;
}

.counter-add-item input[type="text"] {
  margin: 0 5px;
  padding: 0;
  width: 40px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.counter-add-item > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.btn-guests {
  min-height: 48px;
  width: 100%;
  border: 1px solid #cacaca;
  text-align: start;
  padding: 11px 20px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #3e3f40;
  transition: 0.3s ease-in-out;
  --bs-btn-color: #3e3f40;
  --bs-btn-bg: #fff;
  --bs-btn-hover-color: #3e3f40;
  --bs-btn-hover-bg: #fff;
  --bs-btn-focus-shadow-rgb: 207, 74, 149;
  --bs-btn-active-color: #3e3f40;
  --bs-btn-active-bg: #fff;
}

.table-head {
  background-color: #002d5b;
  color: #ffffff;
}

.table-row {
  background-color: #ffd044;
  color: #343534;
}

.input-group-text {
  background-color: white;
}

/* ------------------------------------------------------------------------- */

/* Page-listing */

section.page-listing {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 80vh;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #d9d9d9;
  /* background-image: url(../img/bg_1.png); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-listing h2 {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-white-color);
}

.page-listing__form {
  padding: 30px 10px;
  border-bottom: 1px solid var(--bg-grey);
}

.date-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.152);
  border-radius: 4px;
}

.date-square__date {
  font-size: 18px;
  font-weight: 600;
}

.date-square__month {
  font-size: 14px;
  font-weight: 600;
}

.step-line {
  width: 1px;
  height: 100%;
  background-color: var(--bg-grey);
}
.step-number {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: var(--accent-color);
}
.step-location {
  max-width: 180px;
  font-size: 18px;
  font-weight: 600;
}
.step-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 40px;
  max-width: 40px;
}
.step-night {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 71px;
  width: 100%;
  min-height: 71px;
  height: 100%;
  padding: 8px;
}

.step-acc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.step-info {
  font-size: 16px;
  font-weight: 600;
  color: #5e5c5c;
}

.photo {
  max-width: 250px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
  transition: all 350ms var(--cubic-bezier);
}

.photo:hover,
.photo:focus {
  scale: 1.02;
  box-shadow: 0px 1px 5px 1px rgba(68, 68, 68, 0.32);
}

.page-listing .btn-select {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 16px;
  color: #5e5c5c;
  text-transform: uppercase;
  transition: color 350ms var(--cubic-bezier);
}

.page-listing .btn-select:hover,
.page-listing .btn-select:focus {
  color: var(--accent-color);
}

.bg-grey {
  background-color: var(--bg-grey);
}

.next-trip {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 420px;
  min-height: 200px;
  padding: 20px;
  background-color: var(--bg-grey);
}

.next-trip h4 {
  font-size: 20px;
  font-weight: bold;
}

/* ------------------------------------------------------------------------- */

/* Page reservation */

section.page-reservation {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 80vh;
  padding-top: 60px;
  padding-bottom: 60px;
  /* background-image: url(../img/iccup-Rljwy2QK4YE-unsplash.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-reservation h2 {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-text-color);
}

.page-reservation .title-word {
  margin-bottom: 50px;
  font-family: "Parisienne", cursive;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--btn-secondary-color);
}

.price-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0px 15px;
  border-radius: 12px;
  background-color: rgb(66, 198, 116);
}

.price-container .price-total {
  font-size: 48px;
  font-weight: bold;
}

.price-container .devider {
  background: white;
}

.itinerary-wraper:last-child {
  border-bottom: 1px solid var(--bg-grey);
}

.itinerary {
  display: inline-flex;
  align-items: center;
  padding: 15px 12px;
  font-size: 18px;
  font-weight: bold;
}

.date-square .airline-logo {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  object-fit: contain;
}

.line {
  width: 100px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(221, 221, 221, 1) 0%,
    rgba(144, 144, 144, 1) 50%,
    rgba(221, 221, 221, 1) 100%
  );
}

.line svg {
  position: absolute;
  top: -8px;
  left: 45%;
}

.page-reservation .photo {
  max-height: 100%;
}

.hotel-name {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-text-color);
}

.hotel-location,
.hotel-description {
  padding: 8px 0px;
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-text-color);
}

.amenities-wraper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.amenities-wraper:not(:last-child) {
  margin-right: 5px;
}
.amenities-wraper_text {
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

/* footer */

.footer {
  padding: 20px 0px;
}
@media (min-width: 767px) {
  .footer {
    padding: 40px 0px;
  }
}

.footer .page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width: 480px) {
  .footer .page-container {
    max-width: 100%;
    gap: 30px;
  }
}
@media (min-width: 767px) {
  .footer .page-container {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media (min-width: 1170px) {
  .footer .page-container {
    max-width: 1170px;
  }
}

.footer .title {
  font-size: 14px;
  letter-spacing: 0.01em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .footer .title {
    text-align: start;
  }
}

.devider {
  display: none;
  width: 1px;
  height: 40px;
  background-color: var(--secondary-text-color);
}
@media (min-width: 767px) {
  .devider {
    display: block;
  }
}
.devider-small {
  margin: 0px 5px;
  width: 1px;
  height: 15px;
  background-color: var(--secondary-text-color);
}

.copyright {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.footer .social-link_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-link_item a {
  color: #8e8e8e;
  transition: color 300ms var(--cubic-bezier);
}
.social-link_item a:hover {
  color: #f15d0e;
}
.footer .form-control {
  font-size: 14px;
}
.footer .form-control::placeholder {
  font-size: 12px;
  color: var(--secondary-text-color);
}

.footer .input-group .btn-send {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 4px;
  right: 5px;
  z-index: 5;
}

.footer .input-group .btn-send:hover svg {
  fill: #f15d0e;
}
